* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #1a1a1a;
    --cor2: rgb(255, 255, 255);
    --cor3: rgba(255,145,0,255);
    --cor4: rgb(75, 75, 75);
}

.logo {
    width: 20vw;
}

header {
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 2vh 2vh rgba(0,0,0,0.6);
}

header .logo {
    margin-left: 3vw;
}

nav {
    display: flex;
    width: 60vw;
    height: 100%;
}
nav a{
    display: flex;
    justify-content: center;
    font-size: 1.8vw;
    align-items: center;
    color: var(--cor2);
    width: calc(1/3 * 100%);
    position: relative;
    right: 0;
    transition: 0.2s;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.3vw;
    text-align: center;
}

nav a:nth-child(3) {
    background-color: var(--cor3);
    font-weight: bold;
}

nav a:nth-child(3):hover {
    background-color: var(--cor2);
    color: var(--cor3);
}

nav a:hover {
    background-color: var(--cor2);
    color: var(--cor1);
}

.section1{
    margin-top: 20vh;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    position: relative;
}

.section1 .filtro-black {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.elementos{
    z-index: 2;
    margin-left: 10vw;
}
button {
    padding: 1.5vw 6vw;
    border-radius: 3vw;
    background-color: var(--cor3);
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    font-weight: bold;
    cursor: pointer;
    font-size: 2vw;
    transition: 0.3s;
    box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.6);
}
button:hover {
    background-color: var(--cor2);
    color: var(--cor3);
    transform: scale(1.15);
}
.elementos h1 {
    color: white;
    font-size: 5vw;
    letter-spacing: 0.5vw;
    margin-bottom: 2vw;
}

.section2 {
    background-color: var(--cor4);
    padding: 5% 23%;
    text-align: center;
    color: white;
}

h3 {
    font-size: 5.5vw;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    margin-bottom: 3vh;
    color: var(--cor3);
}
.section2 p {
    letter-spacing: 0.1vw;
    font-size: 2vw;
    line-height: 2;
}

.section2 span {
    text-decoration: underline;
    color: var(--cor3);
}

.section3 {
    background-color: var(--cor1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em 0;
}

.section3 div {
    color: white;
    background-color: var(--cor4);
    padding: 2vw;
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.3vw;
    font-weight: lighter;
    letter-spacing: 0.2vw;
    border-radius: 1vw;
    margin-bottom: 5vh;
    box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.6);
    position: relative;
    transition: 0.3s;
}

.section3 div:hover {
    transform: scale(1.15);
}

.section3 span {
    color: var(--cor3);
    font-weight: bold;
    padding-right: 0.5vw;
}

.section4 {
    background-image: url(../img/desconto-banner.png);
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 5em 0;
}

.section4 div {
    background-color: black;
    opacity: 0.85;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.section4 h3 {
    z-index: 1;
    padding-bottom: 0.2em;
}
.section4 p {
    z-index: 1;
    color: var(--cor2);
    font-size: 2.3vw;
}

.section4 span {
    font-size: 3.5vw;
    color: var(--cor3);
    font-weight: bold;
    padding: 0 0.3vw;
}

.section4 button {
    margin-top: 7vh;
    z-index: 2;
}

footer {
    background-color: var(--cor4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
}

footer .logo {
    padding-bottom: 2vh;
}

footer p {
    color: var(--cor2);
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.1vw;
    font-size: 1.5vw;
    padding: 1.5vh 0;
    background-color: var(--cor1);
}


@media (max-width: 768px) {
    nav a {
        font-size: 2vw;
    }
    header .logo {
        width: 22vw;
    }
    nav{
        width: 65vw;
    }
    button {
        padding: 1.2vw 5vw;
        border-radius: 7vw;
        border: var(--cor3) 0.8vw solid;
        background-color: var(--cor3);
        text-transform: uppercase;
        letter-spacing: 0.3vw;
        font-size: 2.8vw;
    }
    .elementos h1 {
        font-size: 7vw;
    }
    h3 {
        font-size: 6vw;
    }
    .section2 p {
        font-size: 2.5vw;
    }
    .section3 div {
        width: 60vw;
        border-radius: 2vw;
        font-size: 3vw;
    }
    .logo {
        width: 30vw;
    }
}

@media (max-width: 426px) {
    header  {
        height: 18vh;
    }
    .section1{
        margin-top: 18vh;
        justify-content: center;
    }
    .elementos {
        margin-left: 0;
        text-align: center;
    }
    nav a {
        font-size: 2.8vw;
    }
    header .logo {
        width: 30vw;
        margin: 1.5vw;
    }
    footer .logo {
        width: 45vw;
    }
    .elementos h1 {
        font-size: 10vw;
        margin-bottom: 4vw;
    }
    button {
        padding: 2vw 8vw;
        border-radius: 7vw;
        border: var(--cor3) 0.8vw solid;
        background-color: var(--cor3);
        text-transform: uppercase;
        letter-spacing: 0.3vw;
        font-size: 4vw;
    }
    h3 {
        font-size: 11vw;
    }
    .section2 {
        padding: 10vh 9vw;
    }
    .section2 p {
        font-size: 4vw;
    }
    .section3 div {
        width: 75vw;
        height: 8vh;
        font-size: 4vw;
        border-radius: 3.5vw;
    }
    .section3 {
        padding: 12vh 0;
    }
    .section4 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    footer p {
        font-size: 3.5vw;
    }
    .section4 h3 {
        text-align: center;
    }
    .section4 p {
        font-size: 4.5vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .section4 span {
        font-size: 6vw;
        padding: 0 2vw;
        padding-bottom: 0.8vh;
    }
}

@media (max-width: 320px) {
    header .logo{
        width: 32vw;
        margin: 1.5vw;
    }
    header  {
        height: 15vh;
    }
    nav a {
        font-size: 3.2vw;
    }
    .section1{
        margin-top: 15vh;
    }
    .elementos h1{
        font-size: 10.5vw;
    }
    .section4 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    footer p {
        display: flex;
        flex-wrap: wrap;
        font-size: 4vw;
    }
    footer .logo {
        width: 50vw;
    }
    .section4 h3 {
        text-align: center;
    }
    h3 {
        font-size: 13vw;
    }
    .section2 {
        padding: 10vh 10vw;
    }
    .section2 p {
        font-size: 5.5vw;
    }
    .section3 div {
        width: 80vw;
        height: 8vh;
        font-size: 4.2vw;
        border-radius: 3.5vw;
    }
    .section4 p {
        font-size: 5vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .section4 span {
        font-size: 8vw;
        padding: 0 2vw;
        padding-bottom: 0.8vh;
    }
    button {
        padding: 3vw 9vw;
        border-radius: 7vw;
        border: var(--cor3) 0.8vw solid;
        background-color: var(--cor3);
        text-transform: uppercase;
        letter-spacing: 0.3vw;
        font-size: 5vw;
    }
}